:root {
    --bs-border-color-translucent: var(--bs-gray-900);
    --bs-border-color: var(--bs-gray-600);
}

/* 出力グリッド */
.out-grid {
    display: grid;
    gap: 0.75rem;
}

.out-row {
    display: grid;
    grid-template-columns: 22ch 1fr auto;
    gap: 0.5rem;
    align-items: center;
}